a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
}

/*ヘッダー*/

@mixin header-font {
    font-size: 14px;
    line-height: 22px;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

#header-contents {
    display: flex;
    justify-content: space-between;
    height: 75px;

    #header-left {
        display: flex;
        justify-content: space-around;
    }

    #header-logo {
        max-width: 100%;
        width: 130px;
        height: 45px;
        margin: 20px 5px 50px;
    }

    #header-comment {
        @include header-font;
        color: #333333;
        font-weight: 600;
        margin-top: 40px;
    }

    #header-btn {
        @include header-font;
        background-color: #DA6B64;
        color: #ffffff;
        padding: 13px 40px;
        border-radius: 100px;
        display: inline-block;
        margin: 15px 0;

        &:hover {
            background-color: red;
        }
        
    }

}

/*トップ部分*/

/*top-message部分の@mixin*/

@mixin top-commentA {
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    color: #333333;
}

@mixin top-commentB {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}

@mixin top-comment-position {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

/*contact部分の@mixin*/

@mixin under-top1 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 15px;
}

@mixin under-top2 {
    font-size: 21px;
    line-height: 34px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 45px;
}

#top-contents {

    #top-message {
        position: relative;
    
        #top-img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        .on-img {
            position: absolute;
        }
    
        #top-comment1 {
            @include top-commentA;
            @include top-comment-position;
            top: 90px;
            
        }

        #top-comment2 {
            @include top-commentA;
            @include top-comment-position;
            top: 140px;
        }

        #top-comment3 {
            width: 315px;
        }

        #t-c3-wrap {
            @include top-comment-position;
            top: 200px;
        }

        #top-comment4 {
            @include top-commentB;
            @include top-comment-position;
            top: 340px;
        }
        
        #top-comment5 {
            @include top-commentB;
            @include top-comment-position;
            top: 370px;
        }
    }

    #contact {
        text-align: center;
        background-color: #EBB94D;
        height: auto;
        width: 100%;

        #contact-comment1 {
            @include under-top1;
            padding-top: 35px;
        }

        #contact-comment2 {
            @include under-top1;
        }

        #contact-comment3 {
            font-family: "Courier New";
            font-size: 18px;
            line-height: 29px;
            font-weight: bold;
            color: #c7254e;
            background-color: #ffffff;
            display: inline-block;
            border-radius: 4px;
            padding: 2px 4px;
            margin-top: 8px;
        }

        #contact-btn {
            font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
            font-size: 28px;
            line-height: 45px;
            font-weight: 600;
            background-color: #DA6B64;
            color: #ffffff;
            padding: 35px 300px;
            border-radius: 100px;
            display: inline-block;
            margin: 50px 0 70px 0;

            &:hover {
                background-color: red;
            }
        }

        #schedule1 {
            @include under-top2;

        }

        #schedule2 {
            @include under-top2;

        }

        #schedule3 {
            @include under-top2;

        }

    }
}



/*以下リセットcss*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: bottom;
}
    
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


