a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
}

/*ヘッダー*/

@mixin header-font {
    font-size: 14px;
    line-height: 22px;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

#header-contents {
    display: flex;
    justify-content: space-between;
    height: 75px;

    #header-left {
        display: flex;
        justify-content: space-around;
    }

    #header-logo {
        max-width: 100%;
        width: 130px;
        height: 45px;
        margin: 20px 5px 50px;
    }

    #header-comment {
        @include header-font;
        color: #333333;
        font-weight: 600;
        margin-top: 40px;
    }

    #header-btn {
        @include header-font;
        background-color: #DA6B64;
        color: #ffffff;
        padding: 13px 40px;
        border-radius: 100px;
        display: inline-block;
        margin: 15px 0;

        &:hover {
            background-color: red;
        }
        
    }

}

/*トップ部分*/

@mixin top-commentA {
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    color: #333333;
}

@mixin top-commentB {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}

#top-contents {

    #top-message {
        
        
        #top-img {
            position: relative;
        }
    
        #top-img {
            width: 1170px;
            max-width: 100%;
            height: auto;
        }
    
        .top-comment1 {
            position: absolute;
            @include top-commentA;
        }

        .top-comment2 {
            position: absolute;
            @include top-commentA;
        }

        .top-comment3 {
            position: absolute;
        }

        .top-comment4 {
            position: absolute;
            @include top-commentB;
        }
        
        .top-comment5 {
            position: absolute;
            @include top-commentB;
        }
    }
}



/*以下リセットcss*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


