@charset "UTF-8";
a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
}

/*ヘッダー*/
/*トップ部分*/
/*contact部分の@mixin*/
/*エンジニアとして本当の自由を手に入れるためには  intro*/
/*ノマド育成講座イサラとは  desc*/
/*isaraで基本的なプログラミングスキルは教えません  contents1*/
.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  width: 100%;
}

header #header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}

header #header-contents #header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header #header-contents #header-logo {
  max-width: 100%;
  width: 130px;
  height: 45px;
  margin: 20px 5px 50px;
}

header #header-contents #header-comment {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  font-weight: 600;
  margin-top: 40px;
}

header #header-contents #header-btn {
  font-size: 14px;
  line-height: 22px;
  background-color: #DA6B64;
  color: #ffffff;
  padding: 13px 40px;
  border-radius: 100px;
  display: inline-block;
  margin: 15px 0;
}

header #header-contents #header-btn:hover {
  background-color: red;
}

/*トップ部分*/
#top-contents #top-message {
  position: relative;
}

#top-contents #top-message #top-img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#top-contents #top-message .on-img {
  position: absolute;
}

#top-contents #top-message #top-comment1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
  color: #333333;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  top: 90px;
}

#top-contents #top-message #top-comment2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
  color: #333333;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  top: 140px;
}

#top-contents #top-message #top-comment3 {
  width: 315px;
}

#top-contents #top-message #t-c3-wrap {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  top: 200px;
}

#top-contents #top-message #top-comment4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  color: #333333;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  top: 340px;
}

#top-contents #top-message #top-comment5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  color: #333333;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  top: 370px;
}

#top-contents #contact {
  text-align: center;
  background-color: #EBB94D;
  height: auto;
  width: 100%;
}

#top-contents #contact #contact-comment1 {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 35px;
  padding-bottom: 15px;
}

#top-contents #contact #contact-comment2 {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 15px;
}

#top-contents #contact #contact-comment3 {
  font-family: "Courier New";
  font-size: 18px;
  line-height: 29px;
  font-weight: bold;
  color: #c7254e;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  padding: 2px 4px;
  margin-top: 8px;
}

#top-contents #contact #contact-btn {
  font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
  font-size: 28px;
  line-height: 45px;
  font-weight: 600;
  background-color: #DA6B64;
  color: #ffffff;
  padding: 35px 300px;
  border-radius: 100px;
  display: inline-block;
  margin: 50px 0 70px 0;
}

#top-contents #contact #contact-btn:hover {
  background-color: red;
}

#top-contents #contact #schedule1 {
  font-size: 21px;
  line-height: 34px;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 45px;
}

#top-contents #contact #schedule2 {
  font-size: 21px;
  line-height: 34px;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 45px;
}

#top-contents #contact #schedule3 {
  font-size: 21px;
  line-height: 34px;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 45px;
}

/*エンジニアとして本当の自由を手に入れるためには  intro*/
#intro {
  text-align: center;
}

#intro #intro-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  /*確認*/
  padding: 40px 80px;
}

#intro #intro-title .sub-title-span {
  /*確認*/
  font-size: 60px;
  padding: 60px;
}

#intro .intro-content {
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 40px;
  font-weight: 300;
}

#intro .intro-content #intro-content-span {
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 40px;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #EBB94D));
  background: linear-gradient(transparent 70%, #EBB94D 70%);
}

#intro #intro-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*ノマド育成講座イサラとは  desc*/
#desc {
  text-align: center;
  background-color: #FEF5E0;
  padding-bottom: 70px;
}

#desc #desc-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  padding: 40px 80px 70px 80px;
}

#desc #desc-title .sub-title-span {
  /*確認*/
  font-size: 60px;
  padding: 60px;
}

#desc #desc-summary {
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  font-weight: bold;
  /*確認  カラーも確認*/
  padding-bottom: 40px;
}

#desc #desc-detail {
  padding: 40px 80px 35px 80px;
  border: solid 2px #EBB94D;
  border-radius: 5px;
  background-color: #ffffff;
}

#desc #desc-detail #desc-detail-title {
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  font-weight: bold;
  /*確認  カラーも確認*/
  margin-bottom: 30px;
}

#desc #desc-detail #skills .skill {
  display: inline-block;
  padding: 0 20px;
}

#desc #desc-detail #skills .skills-comment {
  font-size: 12px;
  line-height: 19px;
  color: #333333;
  font-weight: 300;
  padding-top: 14px;
}

/*isaraで基本的なプログラミングスキルは教えません  contents1*/
#contents1 {
  text-align: center;
}

#contents1 #contents1-img-wrap {
  background-image: url(image/top-img.jpg);
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}

#contents1 #contents1-img-wrap #contents1-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #ffffff;
  padding: 60px 0 25px;
}

#contents1 #contents1-img-wrap .contents1-sub-title {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 15px;
}

#contents1 #contents1-img-wrap #programme-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

#contents1 #contents1-img-wrap #programme-wrap .programme {
  background-color: #ffffff;
  border-radius: 5px;
}

#contents1 #contents1-img-wrap #programme-wrap .programme .programme-number {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  font-weight: 600;
}

#contents1 #contents1-img-wrap #programme-wrap .programme .programme-period {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  font-weight: 600;
}

#contents1 #contents1-img-wrap #programme-wrap .programme .programme-action {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-weight: 600;
  padding: 15px 0 25px;
}

#contents1 #programme-note-wrap {
  padding: 36px 0 40px;
  background-color: #016EA9;
}

#contents1 #programme-note-wrap .programme-note {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  padding: 2px 0;
}

/*イサラで学べること*/
#contents2 {
  text-align: center;
}

#contents2 #contents2-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  padding: 65px 0 45px;
}

#contents2 #contents2-sub-title {
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

#contents2 #four-skills-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 850px;
  max-width: 100%;
  margin: 0 auto;
}

#contents2 #four-skills-wrap .four-skills {
  width: 175px;
  padding: 45px 0 35px;
}

#contents2 #contents2-note {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 50px;
}

/*イサラの3つのメリット*/
#contents3 {
  text-align: center;
  background-color: #FEF5E0;
}

#contents3 #contents3-sub-title {
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  padding-top: 40px;
}

#contents3 #contents3-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
}

#contents3 #three-merit-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 55px;
}

#contents3 #three-merit-wrap .three-merit {
  width: 360px;
}

#contents3 #three-merit-wrap .three-merit .three-merit-img {
  width: 360px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

#contents3 #three-merit-wrap .three-merit .three-merit-title {
  font-size: 20px;
  line-height: 32px;
  color: #EBB94D;
  font-weight: 700;
  text-align: left;
  padding: 10px 0 10px;
}

#contents3 #three-merit-wrap .three-merit .three-merit-note {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-weight: 300;
  text-align: left;
}

#contents3 #cotents3-detail {
  padding: 40px 200px 50px 200px;
  border: solid 2px #EBB94D;
  border-radius: 5px;
  background-color: #ffffff;
}

#contents3 #cotents3-detail #contents3-detail-title {
  font-size: 28px;
  line-height: 45px;
  font-weight: 600;
  color: #ebb94d;
}

#contents3 #cotents3-detail #contents3-detail-sub-title {
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  font-weight: 600;
  padding: 15px 0 10px;
}

#contents3 #cotents3-detail .contents3-detail-note {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-weight: 600;
}

#contents3 #contents3-note {
  padding: 40px 0 55px;
}

/*創業メンバー*/
#member {
  background-image: url(image/top-img.jpg);
  height: 1390px;
  background-size: cover;
}

#member #member-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding: 80px 0 45px;
}

#member #member-sub-title {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

#member #profile-flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 910px;
  max-width: 100%;
  margin: 0 auto;
  padding: 200px 0;
}

#member #profile-flex1 .profile-wrap {
  position: relative;
}

#member #profile-flex1 .profile-wrap .profile-img1 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -165px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

#member #profile-flex1 .profile-wrap .profile-img2 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -165px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

#member #profile-flex1 .profile-wrap .profile {
  padding: 0 40px;
  border: solid 3px #ffffff;
}

#member #profile-flex1 .profile-wrap .profile .profile-position {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
}

#member #profile-flex1 .profile-wrap .profile .profile-name {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

#member #profile-flex1 .profile-wrap .profile .profile-detail {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  width: 280px;
  padding-bottom: 50px;
}

#member #profile-flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 910px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#member #profile-flex2 .profile-wrap {
  position: relative;
}

#member #profile-flex2 .profile-wrap .profile-img3 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -165px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

#member #profile-flex2 .profile-wrap .profile-img4 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -165px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

#member #profile-flex2 .profile-wrap .profile {
  padding: 0 40px;
  border: solid 3px #ffffff;
}

#member #profile-flex2 .profile-wrap .profile .profile-position {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
}

#member #profile-flex2 .profile-wrap .profile .profile-name {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

#member #profile-flex2 .profile-wrap .profile .profile-detail {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  width: 280px;
  padding-bottom: 50px;
}

/*ノマドエンジニアとして自由に稼ぐことは本当に可能なのか*/
#evidence #evidence-title-wrap {
  background-color: #EBB94D;
  text-align: center;
}

#evidence #evidence-title-wrap #evidence-icon {
  display: inline-block;
  font-size: 14px;
  line-height: 80px;
  font-weight: 400;
  color: #EBB94D;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 0 25px;
  margin-top: 40px;
}

#evidence #evidence-title-wrap #evidence-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #ffffff;
  padding: 15px 0 60px;
  font-weight: 600;
}

#evidence #triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #EBB94D;
  margin: 0 auto;
}

#evidence #evidence-sub-title1 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}

#evidence #evidence-sub-title2 {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-weight: 600;
  text-align: center;
  padding: 15px 0 35px;
}

#evidence #evidence-sub-title3 {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  font-weight: 300;
  text-align: center;
  padding-bottom: 35px;
}

#evidence #evidence-profile-wrap {
  padding-bottom: 20px;
}

#evidence #evidence-profile-wrap .evidence-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}

#evidence #evidence-profile-wrap .evidence-profile .evidence-profile-img {
  height: 245px;
  width: 240px;
  border: solid 1.5px #EBB94D;
}

#evidence #evidence-profile-wrap .evidence-profile .evidence-profile-flex {
  width: 480px;
  max-width: 100%;
}

#evidence #evidence-profile-wrap .evidence-profile .evidence-profile-flex .evidence-profile-detail {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #777777;
  padding: 15px 0 10px;
}

#evidence #evidence-profile-wrap .evidence-profile .evidence-profile-flex .evidence-profile-position {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #777777;
  text-decoration: underline;
}

/*isaraで学べる内容*/
#leaning-contents {
  background-image: url(image/top-img.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  height: 800px;
  text-align: center;
}

#leaning-contents #leaning-contents-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #ffffff;
  font-weight: 600;
  padding-top: 60px;
}

#leaning-contents #leaning-contents-intro {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 0 50px;
}

#leaning-contents #leaning-detail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 780px;
  max-width: 100%;
  margin: 0 auto;
}

/*以下リセットcss*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: bottom;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*# sourceMappingURL=stylesheet.css.map */
