@import "variables";

a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
}

/*ヘッダー*/

@mixin header-font {
    font-size: 14px;
    line-height: 22px;
}

/*トップ部分*/

@mixin top-commentA {
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    color: #333333;
}

@mixin top-commentB {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}

@mixin on-img-position {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

@mixin sub-font($color) {
    font-size: 18px;
    line-height: 29px;
    color: $color;
}

/*contact部分の@mixin*/

@mixin under-top {
    font-size: 21px;
    line-height: 34px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 45px;
}


/*エンジニアとして本当の自由を手に入れるためには  intro*/

@mixin main-font($color) {
    font-size: 20px;
    line-height: 32px;
    color: $color;
}

@mixin sub-title-span {/*確認*/
    font-size: 60px;
    padding: 60px;
}

@mixin local-title($color) {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    color: $color;
}


/*ノマド育成講座イサラとは  desc*/

@mixin skills-comment {
    font-size: 12px;
    line-height: 19px;
    color: #333333;
    font-weight: 300;
}

/*isaraで基本的なプログラミングスキルは教えません  contents1*/

@mixin programme-number {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #ffffff;
    background-color: #EBB94D;/*確認*/
    padding: 1px 125px;
    margin: 25px 30px;
    vertical-align: middle;
    border-radius: 3px;
}

@mixin article-sub-note($color) {
    font-size: 14px;
    line-height: 22px;
    color: $color;
}

@mixin article-note($color) {
    font-size: 16px;
    line-height: 26px;
    color: $color;
}


.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}
header {
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    width: 100%;

    #header-contents {
        display: flex;
        justify-content: space-between;
        height: 75px;

        #header-left {
            display: flex;
            justify-content: space-around;
        }

        #header-logo {
            max-width: 100%;
            width: 130px;
            height: 45px;
            margin: 20px 5px 50px;
        }

        #header-comment {
            @include header-font;
            color: #333333;
            font-weight: 600;
            margin-top: 40px;
        }

        #header-btn {
            @include header-font;
            background-color: #DA6B64;
            color: #ffffff;
            padding: 13px 40px;
            border-radius: 100px;
            display: inline-block;
            margin: 15px 0;

            &:hover {
                background-color: red;
            }
            
        }

    }
}


/*トップ部分*/

#top-contents {

    #top-message {
        position: relative;
    
        #top-img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        .on-img {
            position: absolute;
        }
    
        #top-comment1 {
            @include top-commentA;
            @include on-img-position;
            top: 90px;
            
        }

        #top-comment2 {
            @include top-commentA;
            @include on-img-position;
            top: 140px;
        }

        #top-comment3 {
            width: 315px;
        }

        #t-c3-wrap {
            @include on-img-position;
            top: 200px;
        }

        #top-comment4 {
            @include top-commentB;
            @include on-img-position;
            top: 340px;
        }
        
        #top-comment5 {
            @include top-commentB;
            @include on-img-position;
            top: 370px;
        }
    }

    #contact1 {
        text-align: center;
        background-color: #EBB94D;
        height: auto;
        width: 100%;

        #contact1-comment1 {
            @include main-font($white);
            font-weight: 600;
            padding-top: 35px;
            padding-bottom: 15px;
        }

        #contact1-comment2 {
            @include main-font($white);
            font-weight: 600;
            padding-bottom: 15px;
        }

        #contact1-comment3 {
            @include sub-font($local-color);
            font-family: "Courier New";
            font-weight: bold;
            background-color: #ffffff;
            display: inline-block;
            border-radius: 4px;
            padding: 2px 4px;
            margin-top: 8px;
        }

        #contact1-btn {
            font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
            font-size: 28px;
            line-height: 45px;
            font-weight: 600;
            background-color: #DA6B64;
            color: #ffffff;
            padding: 35px 300px;
            border-radius: 100px;
            display: inline-block;
            margin: 50px 0 70px 0;

            &:hover {
                background-color: red;
            }
        }

        #date1 {
            @include under-top;

        }

        #date2 {
            @include under-top;

        }

        #date3 {
            @include under-top;

        }

    }
}

/*エンジニアとして本当の自由を手に入れるためには  intro*/


#intro {
    text-align: center;

    #intro-title {
        @include local-title($black);/*確認*/
        padding: 40px 80px;

        .sub-title-span {
            @include sub-title-span;
        }
    }

    .intro-content {
        @include main-font($black);
        margin-bottom: 40px;
        font-weight: 300;

        #intro-content-span {
            @include main-font($black);
            margin-bottom: 40px;
            font-weight: 700;
            background: linear-gradient(transparent 70%, #EBB94D 70%);
        }
    }

    #intro-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
}

/*ノマド育成講座イサラとは  desc*/

#desc {
    text-align: center;
    background-color: #FEF5E0;
    padding-bottom: 70px;

    #desc-title {
        @include local-title($black);
        padding: 40px 80px 70px 80px;

        .sub-title-span {
            @include sub-title-span;
        }
    }

    #desc-summary {
        @include main-font($black);
        font-weight: bold;/*確認  カラーも確認*/
        padding-bottom: 40px;
    }

    #desc-detail {
        padding: 40px 80px 35px 80px;
        border: solid 2px #EBB94D;
        border-radius: 5px;
        background-color: #ffffff;

        #desc-detail-title {
            @include main-font($black);
            font-weight: bold;/*確認  カラーも確認*/
            margin-bottom: 30px;
        }

        #skills {
            
            .skill {
                display: inline-block;
                padding: 0 20px;
            }

            .skills-comment {
                @include skills-comment;
                padding-top: 14px;
                
            }
            
        }

    }

   
}

/*isaraで基本的なプログラミングスキルは教えません  contents1*/


#contents1 {
    text-align: center;
    
    #contents1-img-wrap {
        background-image: url(image/top-img.jpg);
        height: 440px;
        object-fit: cover;

        #contents1-title {
            @include local-title($white);
            padding: 60px 0 25px;

        }

        .contents1-sub-title {
            @include main-font($white);
            font-weight: 600;
            padding-bottom: 15px;
        }
    

        #programme-wrap {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 10px;

            .programme {
                background-color: #ffffff;
                border-radius: 5px;

                .programme-number {
                    @include article-note($white);
                    font-weight: 600;
                    background-color: $main-color;
                    padding: 3px 125px;
                    margin: 30px;
                    border-radius: 5px;
                }

                .programme-period {
                    @include article-sub-note($black);
                    font-weight: 600;
                }

                .programme-action {
                    @include article-note($black);
                    font-weight: 600;
                    padding: 30px 0 25px;
                }
            }
        }
    }

    #programme-note-wrap {
        padding: 36px 0 40px;
        background-color: #016EA9;
    
        .programme-note {
            @include main-font($white);
            font-weight: 600;
            padding: 2px 0;
            
        }
    }
}

/*イサラで学べること*/

#contents2 {
    text-align: center;
    
    #contents2-title {
        @include local-title($black);
        padding: 65px 0 45px;

    }

    #contents2-sub-title {
        @include main-font($black);

    }

    #four-skills-wrap {
        display: flex;
        justify-content: space-between;
        width: 850px;
        max-width: 100%;
        margin: 0 auto;

        .four-skills {
            width: 175px;
            padding: 45px 0 35px;
        }
    }

    #contents2-note {
       @include article-note($black);
        font-weight: 600;
        padding-bottom: 50px;
    }
}

/*イサラの3つのメリット*/

#contents3 {
    text-align: center;
    background-color: #FEF5E0;

    #contents3-sub-title {
        font-size: 20px;
        line-height: 40px;
        font-weight: 600;
        color: #333333;
        padding-top: 40px;
    }

    #contents3-title {
        @include local-title($black);
    }

    #three-merit-wrap {
        display: flex;
        justify-content: space-between;
        padding: 40px 0 55px;

        .three-merit {
            width: 360px;

            .three-merit-img {
                width: 360px;
                height: 180px;
                object-fit: cover;

            }

            .three-merit-title {
                @include main-font($main-color);
                font-weight: 700;
                text-align: left;
                padding: 10px 0 10px;
            }

            .three-merit-note {
                @include article-note($black);
                font-weight: 300;
                text-align: left;
            }
        }
    }

    #cotents3-detail {
        padding: 40px 200px 50px 200px;
        border: solid 2px #EBB94D;
        border-radius: 5px;
        background-color: #ffffff;

        #contents3-detail-title {
            font-size: 28px;
            line-height: 45px;
            font-weight: 600;
            color: #ebb94d;

        }

        #contents3-detail-sub-title {
            @include main-font($black);
            font-weight: 600;
            padding: 15px 0 10px;

        }

        .contents3-detail-note {
            @include article-note($black);
            font-weight: 600;

        }
    }

    #contents3-note {
        padding: 40px 0 55px;

    }
}

/*創業メンバー*/

@mixin profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -165px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

#member {
    background-image: url(image/top-img.jpg);
    height: 1390px;
    background-size: cover;

    #member-title {
        @include local-title($white);
        text-align: center;
        padding: 80px 0 45px;
    }

    #member-sub-title {
        @include article-note($white);
        font-weight: 600;
        text-align: center;
    }

    #profile-flex1 {
        display: flex;
        justify-content: space-evenly;
        width: 910px;
        max-width: 100%;
        margin: 0 auto;
        padding: 200px 0;

        .profile-wrap {
            position: relative;

            .profile-img1 {
                @include profile-img;
            }

            .profile-img2 {
                @include profile-img;
            }

            .profile {
                padding: 0 40px;
                border: solid 3px #ffffff;

                .profile-position {
                    @include article-note($white);
                    text-align: center;
                    padding-top: 40px;

                }

                .profile-name {
                    @include article-note($white);
                    text-align: center;
                    padding: 15px 0;

                }

                .profile-detail {
                    @include article-note($white);
                    width: 280px;
                    padding-bottom: 50px;

                }
            }

        }
    }

    #profile-flex2 {
        display: flex;
        justify-content: space-evenly;
        width: 910px;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
        
        .profile-wrap {
            position: relative;

            .profile-img3 {
                @include profile-img;
            }

            .profile-img4 {
                @include profile-img;
            }

            .profile {
                padding: 0 40px;
                border: solid 3px #ffffff;

                .profile-position {
                    @include article-note($white);
                    text-align: center;
                    padding-top: 40px;

                }

                .profile-name {
                    @include article-note($white);
                    text-align: center;
                    padding: 15px 0;

                }

                .profile-detail {
                    @include article-note($white);
                    width: 280px;
                    padding-bottom: 50px;

                }
            }
        }
    }
    
}

/*ノマドエンジニアとして自由に稼ぐことは本当に可能なのか*/

#evidence {


    #evidence-title-wrap {
        background-color: $main-color;
        text-align: center;
        

        #evidence-icon {
            display: inline-block;
            font-size: 14px;
            line-height: 80px;
            font-weight: 400;
            color: $main-color;
            background-color: $white;
            border-radius: 100px;
            padding: 0 25px;
            margin-top: 40px;
        }

        #evidence-title {
            @include local-title($white);
            padding: 15px 0 60px;
            font-weight: 600;
        }

    }

    #triangle {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid $main-color;
       margin: 0 auto;
    }
    

    #evidence-sub-title1 {
        @include local-title($black);
        font-weight: 600;
        text-align: center;
        padding-top: 20px;
    }
    
    #evidence-sub-title2 {
        @include article-note($black);
        font-weight: 600;
        text-align: center;
        padding: 15px 0 35px;
    }
    
    #evidence-sub-title3 {
        @include article-sub-note($black);
        font-weight: 300;
        text-align: center;
        padding-bottom: 35px;
    }
    
    
    #evidence-profile-wrap {
        padding-bottom: 20px;

        .evidence-profile {
            display: flex;
            justify-content: space-between;
            width: 760px;
            max-width: 100%;
            margin: 0 auto;
            padding-bottom: 40px;

            .evidence-profile-img {
                height: 245px;
                width: 240px;
                border: solid 1.5px $main-color;
            }

            .evidence-profile-flex {
                width: 480px;
                max-width: 100%;

                .evidence-profile-detail {
                    font-size: 18px;
                    line-height: 29px;
                    font-weight: 400;
                    color: $evidence-profile;
                    padding: 15px 0 10px;
                }
    
                .evidence-profile-position {
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 400;
                    color: $evidence-profile;
                    text-decoration: underline;
                }
            }
        }
    }
}

/*isaraで学べる内容*/

#leaning-contents {
    text-align: center;

    #leaning-contents-img {
        background-image: url(image/top-img.jpg);
        object-fit: cover;
        height: 800px;
    

    #leaning-contents-title {
        @include local-title($white);
        font-weight: 600;
        padding-top: 60px;
    }

    #leaning-contents-intro {
        @include article-note($white);
        font-weight: 600;
        padding: 10px 0 50px;
    }

    #leaning-detail-wrap {
        display: flex;
        justify-content: space-between;
        width: 780px;
        max-width: 100%;
        margin: 0 auto;
        

        #leaning-left {
            background-color: $white;

            .leaning-detail-top {
                background-color: $sub-color;
                @include main-font($white);
                font-weight: 600;
                padding: 15px 110px;
            }

            .leaning-detail {
                @include article-note($black);
                font-weight: 600;
                padding: 11px 0;
                border-right: 1px solid $sub-color;
                border-left: 1px solid $sub-color;
            }

            .leaning-border-left {
                border-bottom: 1px dotted $leaning-border;
            }

            .leaning-detail-bottom {
                border: 1px solid $sub-color;
                border-top: 1px dotted $leaning-border;
                background-color: $white;
                @include article-note($black);
                font-weight: 600;
                padding: 11px 0;
            }
        }

        #leaning-right {

            .leaning-detail {
                @include article-note($black);
                font-weight: 600;
                padding: 11px 0;
                border-right: 1px solid $sub-color;
                border-left: 1px solid $sub-color;
                background-color: $white;
            }
            
            .leaning-border-right {
                border-top: 1px dotted $leaning-border;
                
            }

            .leaning-detail-top {
                background-color: $sub-color;
                @include main-font($white);
                font-weight: 600;
                padding: 15px 110px;
            }

            .leaning-detail-bottom {
                border: 1px solid $sub-color;
                border-top: 1px dotted $leaning-border;
                background-color: $white;
                @include article-note($black);
                font-weight: 600;
                padding: 11px 0;
            }
        }
    }
    }
    
    #leaning-contents-note {
        @include main-font($white);
        font-weight: 600;
        background-color: $sub-color;
        padding: 40px 0;
    }
}

/*受講の流れ*/

#schedule {
    text-align: center;
    padding-bottom: 40px;

    #schedule-title {
        @include local-title($black);
        font-weight: 600px;
        padding: 60px 0 55px;
        text-align: center;
    }

    #schedule-img {
        width: 1000px;
        max-width: 100%;
        padding-bottom: 40px;
    }

    .schedule-content {
        display: flex;
        justify-content: space-evenly;
        background-color: $main-color-light;
        padding-top: 30px;
        border-radius: 10px;

        .schedule-content-left {
            width: 150px;
            max-width: 100%;

            .schedule-local-img {
                padding: 30px 0 20px;
            }

            .space {
                margin-top: 20px;
            }

            .sub-font {
                @include sub-font($black);
                font-weight: 600;
                padding-bottom: 30px;
            }
        }

        .schedule-content-right {
            width: 890px;
            max-width: 100%;
            text-align: left;
            padding-top: 5px;

            .article-note {
                @include article-note($black);
                font-weight: 600;
                padding-bottom: 30px;
            }

            .article-sub-note {
                @include article-sub-note($black);
                font-weight: 300;
                padding-bottom: 20px;
            }
        }
    }
}

/*なぜバンコクなのか？*/

#place {
    background-image: url(image/top-img.jpg);

    #place-title {
        @include local-title($white);
        font-weight: 600;
        padding: 100px 0 30px;
    }

    #place-sub-note {
        @include article-sub-note($white);
        font-weight: 300;
    }

    #place-note-wrap {
        padding: 25px 0 15px;

        .place-note {
            @include article-note($white);
            font-weight: 600;
            padding-bottom: 15px;
        }
    }

    #place-main-font {
        @include main-font($white);
        font-weight: 600;
        padding-bottom: 95px;
    }
}

/*isara受講生への参加特典*/

#gift {
    background-color: $main-color;
    text-align: center;

    #gift-title {
        @include local-title($black);
        font-weight: 600;
        padding: 60px 0 50px;
    }

    #gift-article-note {
        @include article-note($white);
        font-weight: 600;
        padding-bottom: 140px;
    }

    #gift-content-wrap {
        padding-bottom: 40px;
        position: relative;

        #gift-content-title {
            @include local-title($black);
            font-weight: 600;
            background-color: $main-color;
            z-index: 998;
            position: absolute;
            top: -70px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            width: 500px;
        }

        #gift-detail-flex {
            display: flex;
            justify-content: space-evenly;
            border: 2px solid $white;
            padding: 50px 0;

            .gift-detail-wrap {
                width: 250px;
                height: 250px;
                max-width: 100%;
                background-color: $white;
                border-radius: 50%;

                .gift-number {
                    font-size: 24px;
                    line-height: 38px;
                    font-weight: 300;
                    color: $main-color;
                    padding: 55px 0 15px;
                }

                .gift-sub-note {
                    @include article-sub-note($black);
                    font-weight: 600;
                    padding: 0 20px;
                    
                }
            }
        }
    }
}

/*isaraはボランティアではありません*/

#attention {
    text-align: center;
    background-image: url(image/top-img.jpg);
    object-fit: cover;

    #attention-title {
        @include local-title($white);
        line-height: 45px;
        font-weight: 600;
        padding: 60px 0 25px;
    }

    #attention-main-font1 {
        @include main-font($white);
        font-weight: 600;
    }

    #attention-message {
        @include local-title($white);
        line-height: 40px;
        font-weight: 600;
        padding: 40px 0 20px;
    }

    #attention-main-font2 {
        @include main-font($white);
        font-weight: 600;
        padding-bottom: 85px;
    }
}

/*創業者からのメッセージ*/

#message {
    text-align: center;
    background-color: $white;

    #message-title {
        @include local-title($black);
        font-weight: 600;
        padding: 60px 0 40px;
    }

    #message-sub-title {
        @include main-font($black);
        font-weight: 700;
    }

    #message-detail-flex {
        width: 860px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 45px 0 90px;

        #message-img {
            width: 190px;
            height: 140px;
            object-fit: cover;
        }

        #message-detail-wrap {
            width: 635px;
            max-width: 100%;
            text-align: left;

            .message-detail {
                @include article-sub-note($black);
                font-weight: 400;
            }

            .message-space {
                padding-bottom: 10px;
            }

            #message-list-wrap {
                padding: 35px 0;

                .message-list {
                    @include article-sub-note($black);
                    font-weight: 400;

                }
            }
        }
    }
}

/*資料請求フォーム*/

#contact2 {
    text-align: center;
    background-color: $main-color;

    #contact2-title {
        @include local-title($black);
        font-weight: 600;
        padding: 60px 0 25px;
    }

    #contact2-sub-title {
        @include article-note($black);
        font-weight: 600;
    }

    #contact2-detail-wrap {
        display: flex;
        flex-direction: column;
        width: 810px;
        margin: 0 auto;
        padding: 40px 0 70px;

        .input {
            margin-bottom: 25px;
            height: 55px;
            border-radius: 5px;
        }

        #contact2-comment {
            margin: 20px 0 40px;
            height: 100px;
            border-radius: 5px;
        }

        #contact2-btn {

        }
    }
}






/*以下リセットcss*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: bottom;
}
    
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


